@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');

html, body {
    font-family: 'Lato', 'sans-serif';
    margin: 0px;
    background-color: #222;
    color: #fff;
}

h1,h2,h3,h4 {
    font-family: 'Oswald', 'sans-serif';
}

.wormhole-detail {
    border-style: solid;
    border-width: 1px;
    border-color: #444;
    padding: 20px;
    margin: 10px;
    width: 50%;
    background-color: #333;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
}

.main-map-canvas {
    width: 100%;
    overflow-x: auto;
}

.wormhole-static {
    width: 200px;
}

.wormhole-static-name {
    display: inline-block;
    text-align: left;
}

.wormhole-static-class {
    display: block;
    width: 30px;
    height: 15px;
    float: right;
}
