@import url('https://fonts.googleapis.com/css?family=Lato|Oswald');

html, body {
    font-family: 'Lato', 'sans-serif';
    margin: 0px;
    background-color: #222;
    color: #fff;
    height: 100%;
}

h1,h2,h3,h4 {
    font-family: 'Oswald', 'sans-serif';
}

.main-application {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.action-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    background-color: #222;
    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    border-image: linear-gradient(to right, #403f5d , #28aeff, #095d8a);
    border-image-slice: 1;
    padding-left: 40px;
}

.wormhole-detail {
    position: absolute;
    padding: 20px;
    margin: 0px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    top: 70%;
    bottom: 0px;
}

.wormhole-system {
    left: 0;
    right: 50%;
}

.wormhole-routes {
    right: 0;
    left: 50%;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
}

h4 {
    margin-top: 1em;
    margin-bottom: 0.2em;
}

.main-map-canvas {
    position: absolute;
    left: 0px;
    top: 50px;
    bottom: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main-map-canvas canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
}

.main-map-canvas input {
    display: block;
    position: absolute;
}

.wormhole-static {
    width: 200px;
}

.wormhole-static-name {
    display: inline-block;
    text-align: left;
}

.wormhole-static-class {
    display: block;
    width: 30px;
    height: 15px;
    float: right;
}

.context-menu {
    display: block;
    position: absolute;
    width: 300px;
    min-height: 40px;
    background-color: #222;
}

.context-menu ul {
    padding: 0px;
    margin: 0;
    list-style-type: none;
}

.context-menu-option {
    margin: 0;
    padding: 5px;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    margin-top: -1px;
    cursor: pointer;
}

.context-menu-option:hover {
    background-color: #aad;
    color: #222;
}

.wormhole-statics {
    width: 50%;
    float: left;
}

.system-characters {
    width: 50%;
    float: left;
}

.character-status {
    height: 50px;
    position: absolute;
    top: 0;
    left: 200px;
}

.status {
    float: left;
    width: 50px;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 10px;
}

.online {
    background-color: #264226;
    color: #ffffff;
    border-color: #0d7513;
}

.character-portrait {
   border-color: #5f5f5f;
   float: left;
   margin-left: 10px;
   margin-top: 3px;
   border-style: solid;
   border-width: 1px;
   border-radius: 12px;
   overflow: hidden;
   width: 42px;
   height: 42px;
}

.character-portrait img {
   width: 42px;
   height: 42px;
}

.character-name {
    float: left;
    height: 50px;
    line-height: 50px;
}

.wormhole-route {
    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #555;
    height: 24px;
    padding: 5px;
}

.wormhole-route-start {
    float: left;
    height: 24px;
    width: 200px;
    line-height: 24px;
}

.wormhole-route-box {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    float: left;
    margin-left: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #808080;
    background-color: #353535;
    border-radius: 6px;
    cursor: pointer;
}

.wormhole-route-box:hover::after {
    display: block;
    content: attr(data-name);
    position: relative;
    top: -45px;
    left: -40px;
    background-color: #222;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    width: 100px;
}
