@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Oswald:300');

html, body {
    font-family: 'Lato', 'sans-serif';
    font-weight: 300;
    margin: 0px;
    background-color: #404040;
    color: #fff;
    height: 100%;
}

h1,h2,h3,h4 {
    font-family: 'Oswald', 'sans-serif';
    font-weight: 300;
}

.main-application {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.action-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    background-color: #222;
    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    border-image: linear-gradient(to right, #403f5d , #28aeff, #095d8a);
    border-image-slice: 1;
    padding-left: 40px;
    z-index: 20;
    animation-duration: 500ms;
    animation-name: slidefromtop;
}

@keyframes slidefromtop {
    from {
        top: -52px;
    }

    to {
        top: 0px;
    }
}

.wormhole-detail {
    padding: 20px;
    margin: 0px;
}

@media (max-width: 800px) {
    .wormhole-detail-container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 15%;
        overflow-y: auto;
        background-color: rgba(0, 0, 0, 0.9);
        box-sizing: border-box;
        color: #fff;
    }
}

@media (min-width: 800px) {
    .wormhole-detail {
        position: absolute;
        width: 50%;
        top: 70%;
        bottom: 0px;
        overflow: hidden;
        border-style: none;
        border-top-style: solid;
        border-width: 1px;
        background-color: rgba(20, 20, 20, 0.95);
        box-sizing: border-box;
        color: #fff;
        overflow-y: auto;
    }

    .wormhole-system {
        left: 0;
        right: 50%;
    }

    .wormhole-routes {
        right: 0;
        left: 50%;
    }

    .wormhole-sigs {
        position: absolute;
        top: 40px;
        right: 40px;
        width: 300px;
        display: block;
        text-align: right;
    }
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 42px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 32px;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}

.main-map-canvas {
    position: absolute;
    left: 0px;
    top: 50px;
    bottom: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main-map-canvas canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
}

.main-map-canvas input {
    display: block;
    position: absolute;
}

.wormhole-static {
    width: 200px;
}

.wormhole-static-name {
    display: inline-block;
    text-align: left;
}

.wormhole-static-class {
    display: block;
    width: 30px;
    height: 15px;
    float: right;
}

.context-menu {
    display: block;
    position: absolute;
    width: 300px;
    min-height: 40px;
    background-color: #222;
}

.context-sub-menu {
    position: relative;
    left: 299px;
    top: -30px;
    background-color: #222;
}

.context-sub-menu-box {
    height: 30px;
}

.context-menu ul {
    padding: 0px;
    margin: 0;
    list-style-type: none;
}

.context-menu-option {
    margin: 0;
    padding: 5px;
    color: #eaeaea;
    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #4c4c4c;
    margin-top: -1px;
    cursor: pointer;
}

.context-menu-option i {
    margin-right: 10px;
    width: 14px;
}

.context-menu-option:hover {
    background-color: #aad;
    color: #222;
}

@media (min-width: 800px) {
    .wormhole-statics {
        width: 33%;
        float: left;
    }

    .system-characters {
        width: 33%;
        float: left;
    }

    .wormhole-connections {
        width: 33%;
        float: left;
    }
}

@media (max-width: 800px) {
    .character-list {
        display: none;
    }
}


.character-status {
    height: 100px;
    position: absolute;
    top: 0;
    left: 200px;
}

.character-list {
    position: absolute;
    top: 0;
    left: 80px;
    height: 49px;
    overflow: hidden;
    background-color: #222;
}

.character-list:hover {
    height: auto;
}

.character-box {
    width: 400px;
    height: 50px;
}

.status {
    float: left;
    width: 50px;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 10px;
}

.online {
    background-color: #264226;
    color: #ffffff;
    border-color: #0d7513;
}

.offline {
    background-color: #422626;
    color: #ffadad;
    border-color: #c50d0d;
}

.character-portrait {
   border-color: #5f5f5f;
   float: left;
   margin-left: 10px;
   margin-top: 3px;
   border-style: solid;
   border-width: 1px;
   border-radius: 12px;
   overflow: hidden;
   width: 42px;
   height: 42px;
}

.character-portrait img {
   width: 42px;
   height: 42px;
}

.character-name {
    float: left;
    height: 50px;
    margin-left: 20px;
    line-height: 50px;
}

.wormhole-route-list {
}

.wormhole-route {
    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #555;
    padding: 5px;
    position: relative;
}

.wormhole-route-start {
    height: 24px;
    line-height: 24px;
    float: left;
}

.wormhole-route-actions {
    position: absolute;
    right: 0px;
    top: 10px;
}

.wormhole-route-length {
    height: 24px;
    position: absolute;
    line-height: 30px;
    left: 20%;
}

.wormhole-boxes {
    width: 70%;
    margin-left: auto;
    margin-right: 20px;
}

.wormhole-route-box {
    margin-top: 4px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin-left: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #808080;
    background-color: #353535;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.wormhole-route-box:hover::after {
    display: block;
    content: attr(data-name);
    position: absolute;
    top: -30px;
    left: -40px;
    background-color: #222;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    width: 100px;
    z-index: 20;
}

.map-actions {
    width: 200px;
    position: absolute;
    right: 20px;
    text-align: right;
    top: 0px;
    padding: 4px;
}

.map-action {
    font-size: 32px !important;
    padding: 5px;
    cursor: pointer;
}

.map-action.active {
    color: #ffffff;
}

.map-action.inactive {
    color: #4e4e4e;
}

.character-error {
    height: 50px;
    position: absolute;
    top: 14px;
    left: 100px;
}

.wormhole-routes-actions {
    text-align: right;
}

.wormhole-routes-actions div {
    text-align: left;
}

.wormhole-sigs-hoverbox {
    text-align: left;
    display: none;
    width: 300px;
    position: absolute;
    top: 20px;
    left: 0px;
    background-color: #222;
    padding: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #666;
}

.wormhole-sigs-detail-sig {
    display: inline-block;
    width: 90px;
}

.wormhole-sigs-detail-site {
    display: inline-block;
}

.wormhole-sigs-type:hover > .wormhole-sigs-hoverbox {
    display: block;
}

.wormhole-sigs-type {
    display: inline-block;
    width: 50px;
    cursor: pointer;
}

.wormhole-sigs-type i {
    margin-right: 8px;
    width: 14px;
    height: 20px;
    overflow: visible;
}

.sig-sig {
    display: inline-block;
    width: 100px;
}

.sig-select {
    display: inline-block;
    width: 200px;
}

.wormhole-detail-pin {
    position: absolute;
    right: 20px;
    color: #fff;
    z-index: 21;
    top: 70%;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

i.active {
    color: #fff;
}

i.inactive {
    color: #999;
}

.eol-time {
    display: block;
    float: right;
    color: #e45dff;
}

.modal-wrap {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
}

.modal-dialogue {
    width: 600px;
    background-color: #fff;
    color: #000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: #aaa;
    border-radius: 12px;
}

.modal-title {
    height: 28px;
    background-color: #333;
    color: #fff;
    padding-left: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.modal-title i {
    display: inline;
}

.modal-title h3 {
    display: inline-block;
    margin-left: 20px;
    font-size
}

.modal-content {
    padding: 10px;
}

.modal-footer {
    padding: 10px;
    border-style: none;
    border-top-style: solid;
    border-width: 1px;
    border-color: #eee;
    text-align: right;
}

.modal-button {
    display: inline-block;
    margin-left: 4px;
    background-color: #525252;
    border-radius: 6px;
    padding: 6px;
    color: #fff;
    cursor: pointer;
}

.splash-screen {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #222;
}

.splash-box {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -200px;
}

.splash-box h1 {
    font-weight: 600;
    font-size: 118px;
    line-height: 90px;
    text-shadow: 0px 20px 25px #000;
}

.wormhole-effect-list {
    display: none;
    width: 400px;
    background-color: #333;
    padding: 8px;
    border-radius: 6px;
    position: absolute;
}

.wormhole-effect {
    width: 200px;
}

.wormhole-effect:hover > .wormhole-effect-list {
    display: block;
}

.wormhole-effect-name {
    display: inline-block;
    width: 300px;
}

.wormhole-effect-name.positive {
    color: #8de88d;
}

.wormhole-effect-name.negative {
    color: #d26666;
}

.wormhole-effect-stat {
    font-weight: 600;
    display: inline-block;
}

.wormhole-killmail {
    height: 42px;
    position: relative;
    background-color: #222;
    border-style: solid;
    border-width: 1px;
    border-color: #444;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 4px;
}

.wormhole-killmail-picture {
    padding: 4px;
}

.wormhole-killmail-picture img {
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #88A;
}

.wormhole-killmail-isk {
    position: absolute;
    top: 4px;
    left: 50px;
    font-size: 12px;
}

.wormhole-killmail-time {
    position: absolute;
    top: 21px;
    font-size: 12px;
    left: 50px;
}

.wormhole-legend {
    position: absolute;
    right: 50px;
    top: 150px;
    width: 169px;
    height: 184px;
    background-image: url("/legend1.png");
}

.corporation-status {
    height: 20px;
    padding-top: 10px;
}

.corporation-status label {
    float: left;
    width: 33%;
    text-align: center;
}

.wormhole-corp, .wormhole-sig {
    cursor: pointer;
}

.wormhole-corp:hover, .wormhole-sig:hover {
    text-shadow: 0px 0px 4px #fff;
}
